<h1>Lists</h1>
<hr />

<div class="row">
  <div class="col text-right">
    <button routerLink="/list/1" class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Add
    </button>
  </div>
</div>

<table class="table mt-3 animate__animated animate__fadeInLeft animate__faster">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<div class="alert alert-info text-center mt-3">
  <h4 class="alert-heading">Loading...</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"> </i>
  </p>
  <p class="mb-0">Wait please...</p>
</div>

<div class="alert alert-warning text-center mt-3">
  <h4 class="alert-heading">There's no lists...</h4>
  <p>
    <i class="fa fa-exclamation fa-2x"> </i>
  </p>
</div>
